<configuration>
    <appender name="mask" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.example.serviceBdemo.MaskingPatternLayout">

                <maskPattern>"SSN"\s*:\s*"?([0-9]{3,})"?</maskPattern>
                <maskPattern>(?i)(?:"password"\s*:\s*"([^"]+)"|password=([^\s,&amp;]+))</maskPattern>
                <maskPattern>"address"\s*:\s*"(.*?)"</maskPattern>
                <maskPattern>(\b\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}\b)</maskPattern>
                <maskPattern>([a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,})</maskPattern>

                <pattern>
                    {
                    "timestamp":"%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ}",
                    "level":"%level",
                    "thread":"%thread",
                    "logger":"%logger",
                    "message":"%replace(%msg){'\"','\"'}",
                    "service":"service-b",
                    "file":"%F",
                    "line":%L
                    }
                </pattern>
            </layout>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="mask" />
    </root>
</configuration>
