<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                {
                "timestamp":"%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ}",
                "logLevel":"%level",
                "thread_name":"%thread",
                "logger_name":"%logger",
                "message":"%replace(%msg){'(?i)(password|email|token|cardNumber)[^,}]*','\"\\1\":\"******\"'}",
                "service":"order-service",
                "correlationId":"%X{correlationId}",
                "class":"%C",
                "method":"%M",
                "file":"%F",
                "line":%L
                }
            </pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
